    <!-- Modal delete -->
    <div class="modal fade" style="padding-top: 40px;" id="deleteModalCarrito" tabindex="-1" aria-labelledby="deleteModalCarritoLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-white bg-dark">
            <h5 class="modal-title" id="deleteModalCarritoLabel">Borrar Del Carrito: <span></span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Seguro que desea borrar el producto seleccionado?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="#" id="deleteCarrito" class="btn btn-danger">Borrar</a>
          </div>
        </div>
      </div>
    </div>