    <!-- Modal delete -->
    <div class="modal fade" style="padding-top: 40px;" id="comprarModalCarrito" tabindex="-1" aria-labelledby="comprarModalCarritoLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header text-white bg-dark">
            <h5 class="modal-title" id="comprarModalCarritoLabel">Comprar Productos <span></span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Seguro que desea comprar los productos?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="#" id="comprarCarrito" class="btn btn-danger">Comprar</a>
          </div>
        </div>
      </div>
    </div>