{% extends "general/layout/layout.html" %}
{% from 'carrito/macro/_pagination.html' import m_pagination %}

{% block body %}
  <br/>
  <table class="table table-dark caption-top">
    <caption>
      <h3 class="text-center mb-4 text-primary"><i class="fas fa-shopping-cart fa-4x"></i></h3>
      <h4>Lista de Productos Agregados al Carrito</h4>
      
      <br/>
    </caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Categoria</th>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio Unitario</th>
        <th scope="col">Total</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
    
    {% for carrito in carritos.items %}
      <tr class="{{ loop.cycle('table-light', 'table-secondary') }}">
        <th scope="row">{{ loop.index + (carritos.page - 1) * 5 }}</th>
        <td>{{ carrito['product'].category.name }}</td>
        <td>{{ carrito['product'].name }}</td>
        <td>{{ carrito['cantidad']}}</td>
        <td>{{ carrito['product'].price }}</td>
        <td>{{ carrito['cantidad'] * carrito['product'].price }}</td>
        <td>
          
          <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModalCarrito"
            data-id="{{carrito['id']}}"
            data-name="{{carrito['product'].name}}" 
            data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
            <i class="fa fa-trash"></i>
          </button>

        </td>
      </tr>
    {% endfor %}

    <tr class="table-light">
      <td colspan="5" style="text-align: right;">TOTAL S/.</td>
      <td>
        <p>{{ total }}</p>
      </td>
      <td>       
      </td>
    </tr>

    </tbody>
  </table>
  {{ m_pagination(carritos) }}
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    {% if total > 0 %}
      <button class="btn btn-dark me-md-2" 
        data-bs-toggle="modal" 
        data-bs-target="#comprarModalCarrito"
        data-id="{{current_user.id}}"
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        title="Comprar">
        <i class="fas fa-money-check-alt"></i> Comprar todos los Productos
      </button>
    {% else %}
      <button class="btn btn-dark me-md-2" 
        data-bs-toggle="modal" 
        data-bs-target="#comprarModalCarrito"
        data-id=""
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        title="Comprar"
        disabled>
        <i class="fas fa-money-check-alt"></i> Comprar todos los Productos
      </button>
    {% endif %}
  </div>
     <!-- Modal Confirmacion delete -->
    {% include 'carrito/fragment/_modal_carrito_delete.html'%}
    {% include 'carrito/fragment/_modal_carrito_comprar.html'%}

    <script src="{{ url_for('static', filename='producto/js/carrito.min.js') }}"></script>

{% endblock %}