<div class="row">
  <div class="mb-2 col-3">
    <strong><label for="name_carrito" class="form-label">Nombre</label></strong>
  </div>
  <div class="mb-2 col-3">
    <input type="text" id="name_carrito" class="form-control border border-dark" disabled>
  </div>
  <div class="mb-2 col-3">
    <strong><label for="category_carrito" class="form-label">Categoria</label></strong>
  </div>
  <div class="mb-2 col-3">
    <input type="text" id="category_carrito" class="form-control border border-dark" disabled>
  </div>
</div>


<div class="row">
  <div class="mb-2 col-3">
    <strong><label for="price_carrito" class="form-label">Precio</label></strong>
  </div>
  <div class="mb-2 col-3">
    <input type="text" id="price_carrito" class="form-control border border-dark" disabled>
  </div>
  <div class="mb-2 col-3">
    <strong><label for="medida_carrito" class="form-label">Medida</label></strong>
  </div>
  <div class="mb-2 col-3">
    <input type="text" id="medida_carrito" class="form-control border border-dark" disabled>
  </div>
</div>

<div class="row">
  <div class="mb-2 col-3">
    <strong><label for="stock_carrito" class="form-label">Stock</label></strong>
  </div>
  <div class="mb-2 col-3">
    <input type="text" id="stock_carrito" class="form-control border border-dark" disabled>
  </div>
  <div class="mb-2 col-3">
    <strong><label for="perecerero_carrito" class="form-label">Perecerero</label></strong>
  </div>
  <div class="mb-2 col-3">
    <input type="text" id="perecerero_carrito" class="form-control border border-dark" disabled>
  </div>
</div>

<div class="row">
  <div class="mb-2 col-3">
    <strong><label for="fecha_vencimiento_carrito" class="form-label">Fecha Vencimiento</label></strong>
  </div>
  <div class="mb-2 col-3">
    <input type="text" id="fecha_vencimiento_carrito" class="form-control border border-dark" disabled>
  </div>
  <div class="mb-2 col-3">
    <strong><label for="estado_carrito" class="form-label">Estado</label></strong>
  </div>
  <div class="mb-2 col-3">
    <input type="text" id="estado_carrito" class="form-control border border-dark" disabled>
  </div>
</div>

<div class="row">
  <div class="mb-2 col-3">
    <strong><label for="descripcio_carrito" class="form-label">Descripcion</label></strong>
  </div>
  <div class="mb-2 col-9">
    <input type="text" id="descripcio_carrito" class="form-control border border-dark" disabled>
  </div>
</div>
  <div class="row">
    <div class="mb-2 col-3">
      <strong><label for="cantidad_carrito" class="form-label">Cantidad</label></strong>
    </div>
    <div class="mb-2 col-9">
      <input type="number" min="1" max="100" step="1" id="cantidad_carrito" name="cantidad_carrito" value="1" class="form-control border border-dark">
    </div>
  </div>

