{% extends "general/layout/layout.html" %}

{% block body %}

<div class="card text-left border-dark">
  <div class="card-header text-white bg-dark">
    <h5>Detalle de Producto</h5>
  </div>
  <div class="card-body">
    <h3 class="text-center mb-4 text-primary"><i class="fa fa-box fa-3x"></i></h3>
    <form>
      <fieldset disabled>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Nombre</strong></label>
          <input type="text" id="disabledTextInput" class="form-control border border-dark" value="{{ prod.name }}">
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Precio</strong></label>
          <input type="text" id="disabledTextInput" class="form-control border border-dark" value="{{ prod.price }}">
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Categoria</strong></label>
          <input type="text" id="disabledTextInput" class="form-control border border-dark" value="{{ prod.category.name }}">
        </div>
       </fieldset>
       <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-dark me-md-2" href="{{ url_for('productos') }}">Volver</a>
      </div>
     </form>
  </div>
</div>


{% endblock %}